.menu-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 200px;
  padding: 0.5rem 0;
}

.menu-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: 0;
}

.icon-wrap {
  align-items: center;
  display: flex;
  height: 1rem;
  justify-content: center;
  margin-left: auto;
  width: 1.25rem;
}

.menu-item {
  align-items: center;
  color: var(--fore-color);
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-start;
  position: relative;
  text-transform: capitalize;
  width: 100%;

  &:not(.divider) {
    padding: 0.4rem 0;
  }

  &:hover:not(.divider) {
    cursor: pointer;
    background: var(--background-color-hover);
    color: var(--text-hover-color);
  }

  &.highlight:not(.divider) {
    background: var(--background-color-hover);
    color: var(--text-hover-color);
  }

  span.name {
    flex-basis: 85%;
    text-align: left;
    padding-left: 3%;
  }

  span.icon-wrap {
    width: 10%;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  &.right {
    .name {
      order: 2;
      text-align: right;
      padding-right: 5%;
    }

    .icon-wrap {
      order: 1;
      margin-right: auto;
      transform: rotate(180deg);
    }
  }

  &.disable {
    filter: opacity(0.5);
  }
}

.sub-menu-wrapper {
  position: absolute;
  top: 0;

  &:not(.right) {
    left: 100%;
  }

  &.right {
    right: 100%;
  }

  &.bottom {
    transform: translateY(-65%);
  }
}

.menu-item-divider {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.menu-item-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px 0 6px;
}
