.menu-bar-item-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 1px solid #0080ff;
  }

  &.left,
  &.right {
    padding: 0.5rem 0;
    width: 100%;
  }

  &.top,
  &.bottom {
    height: 100%;
    padding: 0 0.75rem;
  }
}

.menu-container {
  position: absolute;
  z-index: 9999;
}

.icon-container {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  padding-right: 6px;
  margin: 0 2px;
}

.name-container {
  font-size: 0.95rem;
  margin: 0.25rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;

  &.left,
  &.right {
    align-items: center;
    background: none;
    display: flex;
    font-size: 1rem;
    height: 1.5rem;
    justify-content: flex-start;
    width: 100%;

    &.expanded {
      padding-left: 1rem;
    }

    &:not(.expanded) {
      font-size: 1.1rem;
      justify-content: center;
      text-transform: uppercase;
      width: 2rem;
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
